body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: red;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*MY STYLES*/

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.picture-edit img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.picture {
    background-color: #808080;
    height: 350px;
}

.picture-edit {
    background-color: #808080;
    height: 450px;
}